In [14]:
# Import the required libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import warnings

# Set any preferences you want for the notebook
warnings.filterwarnings('ignore')

In [2]:
# Set the home directory to the main repository page

os.chdir('..')
os.listdir()

['.DS_Store', 'analysis', 'docs', 'README.md', '.git', 'data']

In [3]:
# Read in the dataset

df = pd.read_csv('data/data.csv')

In [4]:
# Show the first 5 rows

df.head(5)

,Compensation,Log(sales),Stock return,Volatility,Board size,Fraction of female,Fraction of independent,Gender,Age,Tenure,Number of other directorship,Retired
0,597.777996,16.058474,0.503737,2.011101,7,0.285714,0.142857,1,59,3,0,1
1,758.364212,16.058474,0.503737,2.011101,7,0.285714,0.142857,1,58,13,2,1
2,458.106934,16.058474,0.503737,2.011101,7,0.285714,0.142857,0,57,18,3,1
3,327.713700,16.058474,0.503737,2.011101,7,0.285714,0.142857,0,71,12,0,1
4,433.986229,16.058474,0.503737,2.011101,7,0.285714,0.142857,0,63,6,3,1

In [15]:
# Create a column called 'company' which identifies where a company belongs to

df['company'] = 1

company_number = 1
for i in range(1, len(df['company'])):
    if df['Stock return'][i] == df['Stock return'][i-1]:
        df['company'][i] = company_number
    else:
        company_number = company_number + 1
        df['company'][i] = company_number

In [13]:
# Create a raw sales columm by taking the exponent of the Log(sales) column

df['sales'] = np.exp(df['Log(sales)'])